<div class="card">
  <% if location.schedules.present? %>
    <span class="opened"><%= location.opened_status? %></span>
    <h3 class="title"><%= location.normalized_title %></h3>
    <p class="content"><%= location.normalized_content %></p>
    <hr class="divider" />
    <ul class="images">
      <div class="mask">
        <%= image_tag location.mask_image %>
      </div>
      <div class="towel">
        <%= image_tag location.towel_image %>
      </div>
      <div class="fountain">
        <%= image_tag location.fountain_image %>
      </div>
      <div class="locker_room">
        <%= image_tag location.locker_room_image %>
      </div>
    </ul>
    <ul class="schedules">
      <% location.schedules.each do |schedule| %>
        <li>
          <b class="weekdays"><%= schedule["weekdays"] %></b>
          <span class="hour"><%= schedule["hour"] %></span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <span class="closed"><%= location.opened_status? %></span>
    <h3 class="title"><%= location.title %></h3>
    <p class="street"><%= location.normalized_full_address %></p>
  <% end %>
</div>
